{% extends "base.html" %}

{% block title %}股匯{% endblock %}

{% block subtitle %}熱點新聞{% endblock %}

{% block main %}
<style>
.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
a {
  text-decoration: none;
}
</style>
  <main class="mdl-layout__content" style="width:100%;">
     <div class="mdl-tabs mdl-js-tabs">
        <div class="mdl-tabs__tab-bar">
           <a href="#tab1-panel" class="mdl-tabs__tab is-active">推介</a>
           <a href="#tab2-panel" class="mdl-tabs__tab">其他</a>
        </div>
        <div class="mdl-tabs__panel is-active" id="tab1-panel">
          <div class="mdl-grid">
            {% for n in news %}
            <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                <a href="{{ n['links'] }}" class="mdl-card__title" style="background: url('{{ n['image'] }}') center / cover;">
                  <h2 class="mdl-card__title-text" style="font-size:18px; background-color: rgba(18, 33, 0, 0.4);">{{ n['title'] }}</h2>
                </a>
                <div class="mdl-card__supporting-text" style="font-size: 12px;">
                  {{ n['text']}}
                  <div style="text-align:right;">
                    {{ n['time'] }}
                  </div>
                </div>
                <div class="mdl-card__menu">
                  <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                  </button>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="mdl-tabs__panel" id="tab2-panel">
          <div class="mdl-grid">
            {% for code in other_news %}
              {% for n in other_news[code] %}
              <div class="mdl-cell">
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                  <a href="{{ n['links'] }}" class="mdl-card__title" style="background: url('{{ n['image'] }}') center / cover;">
                    <h2 class="mdl-card__title-text" style="font-size:18px; background-color: rgba(18, 33, 0, 0.4);">{{ n['title'] }}</h2>
                  </a>
                  <div class="mdl-card__supporting-text" style="font-size: 12px;">
                    {{ n['text']}}
                    <div style="text-align:right;">
                      {{ n['time'] }}
                    </div>
                    <div style="text-align:right;">
                      {{ n['sentiment'] }}
                    </div>
                  </div>
                  <div class="mdl-card__menu">
                    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                      <i class="material-icons">share</i>
                    </button>
                  </div>
                </div>
              </div>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
     </div>
  </main>
{% endblock %}
